.page-layout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em
}

header{
    text-align: center;
}

.book{
    min-height: 200px;
    min-width: 200px;
    margin: auto;
    border: solid rgb(203, 166, 122) 2px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.22);
}

button{
    margin: auto;
}

.grid{
    display: grid;
}

.title{
    margin: 10px;
    overflow: auto;
}

.author{
    margin: 10px;
}

.year{
    margin: 10px
}