*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

.page-layout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2em;
    padding: 30px;
}

header{
    width: 100vw;
    text-align: center;
    box-shadow: 0 4px 16px #ccc;
}

h1{
    padding: 1em
}

dialog{
    margin: auto;
}


.book{
    justify-self: center;
    height: 250px;
    width: 300px;
    padding: 20px;
    border: solid rgb(203, 166, 122) 2px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.22);
}

button{
    margin: auto;
    border: 0;
    padding: 0.5em;
    margin-bottom: 10px;
}

.grid{
    display: grid;
    gap: 1em;
    align-content: center;
}

.title{
    font-size: 200%;
    overflow: auto;
    padding: 0 0 0.6em 0;
}

.author{
    font-size: 120%;
    padding: 0 0 0.5em 0;
}

.finished{
    margin: 10px 10px 0px 0px;
}